body {
  font-family: sans-serif;
}

.card-title {
  font-weight: bold;
}

.quiz-option.correct {
  background-color: #c0f0c0 !important;
}

.quiz-option.wrong {
  background-color: #f8c0c0 !important;
}
