body, html {
  padding:0;
  margin:0;
  zoom:.9;
  font-family: "Roboto", "sans-serif";
}
*[title] {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: black;
}
.input_group {
  display: inline-block;
  height: 46px;
}
.timezones {
  font-size: 16px;
  height: 100%;
  border: none;
  padding: 0 7px;
  width: 160px;
}
@media only screen and (min-width: 555px) {
  .timezones {
    width: 250px;
  }
}
.section {
  position: relative;
  margin: 5px 10px 5px 10px;
}
input[type=text] {
  width: 350px;
  padding: 12px 0px 12px 20px;
  margin: 0;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-image: url('https://fonts.gstatic.com/s/i/materialicons/access_time/v1/24px.svg');
  opacity: 0.7;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  font-size: 16px;
  display: inline-block;
  clear: both;
}
.section .out {
  height: 100%;
}
input[type=text].out {
  background-color: #f8fff8;
  background-image: url('https://fonts.gstatic.com/s/i/materialicons/access_time/v1/24px.svg');
  color: #030;
  padding-left: 60px;
}
input[type=text].out.local {
  background-color: #f8f8ff;
  background-image: url('https://fonts.gstatic.com/s/i/materialicons/access_time/v1/24px.svg');
  color: #300;
  padding-left: 60px;
}
input[type=text].src {
  background-color: #ffffff;
  background-image: url('https://fonts.gstatic.com/s/i/materialicons/access_time/v1/24px.svg');
  color: #000;
  padding-left: 60px;
  width: 500px;
}
.btn.copy {
  border: 2px solid #ccc;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
  height: 46px;
  margin: 0;
  position: absolute;
  z-index: 1;
  left: 0;
  width: 50px;
}
.btn.now {
  border: 2px solid #ccc;
  border-radius: 0px 5px 5px 0px;
  box-sizing: border-box;
  height: 46px;
  margin: 100;
  position: absolute;
  z-index: 1;
  left: 450px;
  width: 50px;
}
button {
  cursor: pointer;
}
button[disabled] {
  cursor: not-allowed;
  background-color: #ddd;
  opacity: .3;
}
label {
  display: inline-block;
  opacity: 80%;
  margin-left: 10px;
  font-size: 16px;
}
